/*******************************************************/
/* GENERAL */
/*******************************************************/

body {
    /* background-image: url(https://bluaiband.files.wordpress.com/2022/08/background.png);
    background-repeat: repeat; */
    margin: auto;
    font-family: courier new;
    font-size: 1.1rem;
}

html {
    scroll-padding-top: 40px; /* sticky nav won't hide stuff */
}

/*******************************************************/
/* HEADER */
/*******************************************************/

header {
    display: grid;
    margin: 3rem auto 3rem;

}

.logo {
    width: 20rem;
    margin: 0 auto;
}

/*******************************************************/
/* NAVIGATION */
/*******************************************************/

nav {
    background-color: #acdceb;
    height: 3.5rem;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* Make area around hyperlink clickable */
a.nav_list {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em 4em;
}

nav.sticky {
    /* background-color: white; */
    text-align: center;
    width:100%;
    position: sticky; top: 0;
}

/*******************************************************/
/* SOCIALS */
/*******************************************************/

/*******************************************************/
/* CONTENT */
/*******************************************************/

article.about {
    width: 50rem;
    margin: 0 auto;
}

h1#about_title {
    text-align: center;
}

img#about_pic {
    width: 100%;
}

p#about_text {
    text-align: justify;
}

/*******************************************************/
/* FOOTER */
/*******************************************************/

